/* DEBUG */
[class*="col-"]{
  /* min-height: 100px; */
  /* border: 1px solid black; */
}
/* DEBUG */

/* HEADER */
/* nav */
header .navbar-default{
  background-color: white;
}
header .navbar{
  margin-bottom: 0;
}
header .navbar-brand img{
  width: 150px;
  height: auto;
  position: absolute;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
}
/* jumbotron */
#jumbo{
  background-image: url('../img/home.jpg');
  background-size: cover;
  color: white;
  padding:30px 0;
}
/* form */
#jumbo form{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
#jumbo form h2{
  color: black;
  text-align: center;
}
#jumbo form .titolo-blue{
  color: blue;
  padding-top: 0;
  margin-top: 0;
}
#jumbo .form-group{
  margin-bottom: 0;
}
#jumbo .btn-default{
  position: relative;
}
#jumbo .btn-block + .btn-block{
  margin-top: 10px;
}
#jumbo .btn-primary{
background-color: #5b94c4;
margin-top: 15px;
}
#google-icon{
  width: 30px;
  height: auto;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

/* MAIN */
/* section loghi */
#loghi{
  background-color: #f3f5f9;
  padding: 20px 0 20px;
}
#loghi h4{
  margin-bottom: 40px;
}
#loghi img{
  margin-bottom: 40px;
}
#loghi a{
  font-size: 18px;
  font-weight: bold;
  color: #356ae7;;
  text-decoration: none;
}

/* section deploy */
#deploy{
  padding: 20px 0 40px;
}
#deploy .lista ul{
  list-style: none;
  border-left: 1px solid black;
  padding-left: 10px;
}
#deploy .lista li{
  margin-bottom: 15px;
}
#deploy .lista{
  display: inline-block;
  margin: 20px 15px;
}
#deploy .lista a{
  font-size: 18px;
  color: black;
  text-decoration: none;
}

/* section dsign-dev */
#design-dev{
  background-color: #f3f5f9;
  padding: 30px 5px;
}
#design-dev h1{
  font-weight: bold;
  margin-bottom: 30px;
}
#design-dev .text-design{
  font-size: 25px;
  color: grey;
  margin-bottom: 50px;
}
#design-dev img{
  width: 60%;
  height: auto;
}
#design-dev .text-img{
  margin-top: 10px;
}

/* section business */
#business h1{
  text-align: center;
  font-weight:bold;
}
#business p{
  margin-bottom: 30px;
}

/* sezione service-customers */
#service-customers{
  background: rgb(54,89,130);
  background: linear-gradient(0deg, rgb(11, 34, 61) 0%, rgb(24, 53, 125) 81%);
  color: white;
}
#service-customers h1{
  text-align: center;
  font-weight: bold;
}
#service-customers .table{
  margin-bottom: 40px;
  margin-top: 20px;
}
#service-customers a{
  color: #81d4ed;
  text-decoration: none;
}

/* section love */
#love{
  background-color: #f3f5f9;
  padding: 30px 5px;
}
#love h1{
  font-weight: bold;
  margin-bottom: 30px;
}
#love .text-love{
  font-size: 25px;
  color: grey;
}
#love img{
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}
#love .text-img{
  margin-top: 10px;
}

/* section started-now */
#started-now{
  background: rgb(54,89,130);
  background: linear-gradient(0deg, rgb(11, 34, 61) 0%, rgb(24, 53, 125) 81%);
  color: white;
  padding: 30px 0 50px;
}
#started-now h1{
  font-weight: bold;
}
#started-now .btn-default{
  color: #017dc7;
  font-weight: bold;
}
#started-now .btn{
  padding: 8px 14px;
}

/* FOOTER */
footer{
  background-color: #010129;
  padding-top: 30px;
  color: #909090;
  font-size: 18px;
}
footer .indirizzo{
  margin-top: 10px;
  font-size: 20px;
}
footer span{
  font-size:18px;
  color: #7a7a7a;
}
footer .social-icon-footer i{
  font-size: 25px;
  margin: 20px 20px 20px 0;
  color: #909090;
}
footer ul{
  margin-top: 10px;
  padding-left: 0;
}
footer ul li:first-child a{
  font-weight: bold;
  font-size: 20px;
  color: white;
}
footer li{
  list-style:none;
  margin-bottom: 10px;
}
footer li a{
  text-decoration:none;
  color: #7a7a7a;
}
footer a:hover, a:focus{
  text-decoration: none;
  color: white;
}
